/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    border: 1px dashed pink;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ******/
header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    height: 79px;
}

.logo {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    height: 19px;
}

nav {
    display: flex;
    width: 25%;
}

nav a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
    width: 25%;
}

nav li {
    padding-top: 7px;
    margin-right: 68px;
}

/****** Au survol de la nav ******/
nav li:hover {
    border-top: 2px #0065FC solid;
}

/****** Texte ******/
h1 {
    font-size: 22px;
    padding-bottom: 8px;
    margin-block: 0px;
    margin-inline: 0px;
}

.text {
    margin-block: 0px;
    margin-inline: 0px;
}

/****** Formulaire de recherche ******/
form {
    display: flex;
    height: 49px;
    margin-top: 35px;
}

/****** Icone ******/
label {
    background-color: var(--main-bg-color);
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-location-dot {
    color: black;
    display: flex;
    justify-content: center;
}

/****** Barre de recherche ******/
input {
    border-top: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    border-left: none;
    border-right: none;
    width: 11%;
    height: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.txt {
    text-align: center;
    font-weight: 700;
}

/****** Bouton rechercher******/
button {
    background-color: #0065FC;
    padding: 15px 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    cursor: pointer;
    border : blue 1px;
    width: 10%;
    font-weight: 700;
}

input::placeholder {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.fa-magnifying-glass {
    color: white;
}

/****** Filtres ******/
.filter {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.filter-title {
    margin-right: 15px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-fire {
    padding-right: 10px;
}

.filters {
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    height: 30px;
    padding: 4px 19px;
    align-items: center;
    margin-right: 15px;
}

.filters:hover {
    background-color: #DEEBFF;
}

/****** Information ******/
.information {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 35px;
}

.fa-info {
    display: flex;
    justify-content: center;
    border: #d9d9d9 solid 1px;
    padding: 13px 12px 13px 12px;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 14px;
}

.information p {
    margin: 0px;
}

/****** Hebergements And Populaires ***********/
.accomodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accomodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.accomodation {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accomodation-title {
    margin: 0px;
    padding: 0px;
}

.accomodation-cards-line-1 img,
.accomodation-cards-line-2 img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accomodation-cards-line-1,
.accomodation-cards-line-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.accomodation-cards-line-1 .card,
.accomodation-cards-line-2 .card {
    width: 30%;
}


.accomodation-cards-line-1 .card-content,
.accomodation-cards-line-2 .card-content {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.accomodation a {
    color: black;
}

a {
    display: contents;
}

.show-more {
    font-weight: 700;
}
/****** Populaires ***********/
.popular {
    width: 32%;
}

.popular-cards {
    padding-top: 30px;
}

.popular-title,
.accomodation-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-bottom: 30px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title,
.accomodation-cards-line-1 .card-title,
.accomodation-cards-line-2 .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle,
.accomodation-cards-line-1 .card-subtitle,
.accomodation-cards-line-2 .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating,
.accomodation-cards-line-1 .card-rating,
.accomodation-cards-line-2 .card-rating {
    margin-bottom: 5px;
}

/****** Activités ******/
.activities {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 30px;
}

.activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    margin-bottom: 30px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.activities-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activities-cards .card-txt {
    padding: 20px 19px;
    color: black;
}

.activities-cards .card-title {
    margin: 0px;
}

/****** Footer ******/
footer {
    display: flex;
    background-color: var(--main-bg-color);
}

.about, .our-accomodations, .help {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    gap: 15px;
}

.about-title,
.about-subtitle,
.our-accomodations-title,
.our-accomodations-subtitle,
.help-title,
.help-subtitle {
    margin: 0px;
}

/*flex 
enfants en column
gap
line height (en em)*/



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .accomodation-and-popular {
        flex-direction: column;
    }

    .accomodation {
        width: 100%;
    }

    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-cards .card {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}